---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 160
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
IndentCaseLabels: false
